nav {
    color: #fff;
    min-height: 10vh;
    display: flex;
    justify-content: space-around;
    align-items: center;

    button {
        color: #fff;
        background: transparent;
        cursor: pointer;
        border: 2px solid #fff;
        border-radius: 2px;
        padding: 0.5rem;
        margin-top: 0.4rem;
        transition: all 0.3s ease;

        &:hover {
            background: #fff;
            color: rgb(43, 43, 43);
        }
    }
}

@media screen and (max-width: 768px) {
    nav {
        button {
            z-index: 10;
        }
    }
}